@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Me</h2>

<address>
    4123 Cedar Springs Rd - Apt 5335<br />
    Dallas, TX 75219<br />
    <abbr title="Phone">P: </abbr>
    (314) 484-9750
</address>

<address>
    <strong>Email:</strong>   <a href="justin.moon97@gmail.com">justin.moon97@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/justin-moon-99a582197/">View my profile on LinkedIn</a><br/>
    <strong>Github:</strong> <a href="https://github.com/jmoon9/">Check out my projects on Github</a>
</address>