<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="DefaultConnection"
			connectionString="Server=f8fd7e5f-7a61-40f8-bf87-abc2010d8d14.sqlserver.sequelizer.com; Database=dbf8fd7e5f7a6140f8bf87abc2010d8d14;User Id=fsapzmgkwmjtqjbb;Password=sy3rkFpEvzeqWBsG7hxTmizBdMYtifdCUktSRLAPBDqDz7KyjWXD6sZi8ynEP4wp"
			providerName="System.Data.SqlClient"
			xdt:Transform="SetAttributes"
			xdt:Locator="Match(name)" />
	</connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
  </system.web>
</configuration>
